<div>
  <h2>Registro</h2>
</div>
<div class="card">
  <form [formGroup]="formUser" (ngSubmit)="saveUser()">
    <div class="mt-2 grid text-center formUser">
      <div class="col-12">
        <span class="p-float-label w-full">
          <input formControlName="name" class="w-full" pInputText id="name" />
          <label class="text-xs" htmlFor="name">Nombre</label>
        </span>
      </div>
      <div class="col-12">
        <span class="p-float-label w-full">
          <input formControlName="email" class="w-full" pInputText id="email" />
          <label class="text-xs" htmlFor="email">Email</label>
        </span>
      </div>
      <div class="col-12">
        <span class="p-float-label w-full">
          <input formControlName="yearsOld" class="w-full" pInputText id="yearsOld" />
          <label class="text-xs" htmlFor="yearsOld">Edad</label>
        </span>
      </div>
      <div class="col-12">
        <p-button label="Guardar"
                  type="submit"
                  icon="pi pi-save"
                  [disabled]="formUser.invalid"
                  [outlined]="true">
          </p-button>
      </div>
    </div>
  </form>
</div>
